
.Blog{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        ul{
            display: flex;
            align-items: center;
            gap: 0 75px;
            a{
                text-decoration: none;
                color: #000;
                font-family: 'Poppins',sans-serif;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .nav-icons{
            display: flex;
            align-items: center;
            gap: 0 45px;
        }
    }
    .blog__img--box{
        height: 316px;
        background-image: url('/images/Rectangle\ 1.png');
        background-repeat: no-repeat;
        background-position: 100%, 100%;
        background-size: 100% 100%;
        .blog__img--title{
            position: relative;
            top: 71px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > img{
                position: relative;
                top: 15px;
                text-align: center;
                width: 77px;
            }
            & h3{
                font-family: 'Poppins';
                font-size: 48px;
                font-weight: 500;
                line-height: 72px;
                letter-spacing: 0em;
                text-align: center;
                color: rgba(0, 0, 0, 1);
            }
            .blog__img--title__bottom{
                padding-top: 3px;
                display: flex;
                gap: 0 6px;
                & span a{
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
                & strong a{
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
                & a{
                    text-decoration: none;
                }
                & img{
                    padding-top: 3px;
                    width: 24px;
                    height: 20px;
                }
            }
        }
    }
}
main{
    position: relative;
    margin-top: 106px;
    .our__protses--working__wrapper{
        margin-bottom: 60px;
        display: flex;
        gap: 0 30px;
        .our__protses--working__left{
            width: 100%;
            max-width: 820px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 794px;
            gap: 54px;
            .protses__left--item{
                .left--item__img__bottom{
                    margin-top: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 0 37px;
                    .img__bottom--item{
                        display: flex;
                        align-items: center;
                        gap: 0 12px;
                        & span{
                            font-family: 'Poppins';
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #9F9F9F;
                        }
                    }
                }
                & > h2{
                    padding-top: 15px;
                    padding-bottom: 12px;
                    font-family: 'Poppins';
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 45px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
                & > p{
                    width: 100%;
                    max-width: 817px;
                    padding-bottom: 30px;
                    font-family: 'Poppins';
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 23px;
                    text-align: justify;
                    letter-spacing: 0em;
                    color: #9F9F9F;
                }
                & > strong{
                    position: relative;
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: justify;
                    color: #000000;
                }
                & > strong::after{
                    position: absolute;
                    top: 30px;
                    left: 5px;
                    bottom: 0;
                    content: "";
                    width: 77px;
                    height: 2px;
                    background-color: #000000;
                }
            }
        }
        .our__protses--working__right{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: 537px 650px;
            gap: 33px;
            .categories__box{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 43px 0;
                padding-bottom: 61px;
                padding-left: 41px;
                padding-right: 41px;
                .categories__search{
                    position: relative;
                    & > input{
                        width: 100%;
                        width: 311px;
                        height: 58px;
                        border-radius: 10px;
                        border: 1px solid #9F9F9F;
                        background: #FFF;
                    }
                    & > img{
                        position: absolute;
                        top: 17px;
                        right: 98px;

                    }
                }
                .categories__elements{
                    display: flex;
                    flex-direction: column;
                    gap: 33px 0;
                    padding-left: 34px;
                    padding-right: 27px;
                    & > h3{
                        font-family: 'Poppins';
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 36px;
                        color: #000000;
                    }
                    .categories__elements--wrapper{
                        display: flex;
                        flex-direction: column;
                        gap: 41px 0;
                        .categories__elements--item{
                            padding-right: 86px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            & > strong, span{
                                font-family: 'Poppins';
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #9F9F9F;
                            }
                        }
                    }
                }
            }
            .recent__post--box{
                display: flex;
                flex-direction: column;
                gap: 26px;
                padding-left: 75px;
                & > h3{
                    font-family: 'Poppins';
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 36px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
                .recent__post--wrapper{
                    display: grid;
                    flex-direction: column;
                    gap: 40px;
                    .recent__post--item{
                        display: flex;
                        gap: 0 12px;
                        align-items: center;
                        .recent__post--title{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            & > h4{
                                font-family: 'Poppins';
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 21px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #000000;
                            }
                            & > span{
                                font-family: 'Poppins';
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #9F9F9F;
                            }
                        }
                    }
                }
            }
        }
    }
    .our__protses--working{
        .main__controller--box{
            display: flex;
            justify-content: center;
            gap: 0 38px;
            padding-bottom: 58px;
        }
    }
}
.our__info{
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 312px;
    background-color: #FAF3EA;
    .our__info--wrapper{
        display: flex;
        justify-content: center;
        gap: 0 56px;
        .our__info--item{
            display: flex;
            align-items: center;
            gap: 0 14px;
            .our__info--title{
                display: flex;
                flex-direction: column;
                gap: 2px 0;
                & > h4{
                    font-family: 'Poppins';
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 38px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #242424;
                }
                & > strong{
                    font-family: 'Poppins';
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #898989;
                }
            }
        }
    }
}
.footer{
    border-top: 1px solid #0000002B;
    height: 450px;
    padding-top: 50px;
    .footer__big--box{
        .footer__wrapper{
            display: flex;
            .footer__logo--box{
                margin-right: 138px;
                display: flex;
                flex-direction: column;
                gap: 50px 0;

                & > h3{
                    font-family: 'Poppins';
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
                & > p{
                    width: 100%;
                    max-width: 285px;
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #9F9F9F;
                }
            }
            .footer__item{
                & > h4{
                    margin-right: 162px;
                    margin-bottom: 55px;
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #9F9F9F;
                }
                .footer__item--menu{
                    display: flex;
                    flex-direction: column;
                    gap: 46px 0;
                    & a{
                        font-family: 'Poppins';
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                        text-decoration: none;
                    }
                   
                    }
                    .footer__inp{ 
                        position: relative;
                        display: flex;
                        & > input{
                            width: 100%;
                            width: 200px;
                            margin-right: 38px;
                            padding-bottom: 6px;
                            outline: none;
                            border: none;
                            border-bottom: 1px solid #000000;
                        }
                        & > input::placeholder{
                            font-family: Poppins;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #9F9F9F;
                        }
                        & > button{
                            position: relative;
                            right:30px;
                            background-color: #FFF;
                            border: none;
                            font-family: 'Poppins';
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 21px;
                            text-align: left;
                            color: #000000af;
                        }
                        & > button::after{
                            position: absolute;
                            left: 6px;
                            bottom: 0;
                            content: '';
                            width: 75.1px;
                            height: 1px;
                            background-color: #000000;
                        }
                }

            }
        }
        .footer__bottom{
            padding-top: 83px;
            & > h3{
                position: relative;
                font-family: 'Poppins';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #000000;
            }
            & > h3::after{
                position: absolute;
                top: -35px;
                left: 0;
                content: '';
                height: 1px;
                width: 1240px;
                background-color: #D9D9D9;
            }
        }
    }
}